/BK_Bama/nbproject/private/
/BK_Bama/build/
/BK_Bama/dist/
/.gitignore
/ai
/airport
/CSD
/CURD_khach_hang
/CURD_khach_hang.rar
/demo-pay2s
/DoAn-master
/ecommerce-clothing-store
/edupress.rar
/gym.rar
/hackathonNasa
/PRF
/PRF.rar
/skin_detect
/test_ty
/todolist.rar
